{% extends 'admin/base.admin.html.twig' %}

{% block title %} {{ parent() }} - Modification d'article {% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.content) }}

    {{ form_label(form.imageFile) }}
    {{ form_errors(form.imageFile) }}
    {{ form_widget(form.imageFile) }}

    {% if form.vars.data.image %}
        <figure class="post-image-thumb mt-3">
            <img src="{{ asset_post_image(form.vars.data.image) }}" alt="">
        </figure>
    {% endif %}

    {{ form_help(form.imageFile) }}

    <input type="submit" value="Envoyer" class="btn btn-primary my-3">
    {{ form_end(form) }}

    <hr>

    <h3>References</h3>

    <form action="{{ path('admin.article.add.reference', {
        'id': form.vars.data.id
    }) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
    </form>

    <ul class="list-group small js-reference-list" data-url="{{ path('admin.article.list.references', {'id':form.vars.data.id}) }}">
        {% for reference in form.vars.data.articleReferences %}
            <li class="list-group-item d-flex justify-content-between align-items-center" id="reference-{{ reference.id }}">
                {{ reference.originalFilename }}
                <span>
                    <a href="{{ path('admin.article.download.reference', {
                        id: reference.id
                    }) }}"><span class="fa fa-download"></span></a>
                    <button class="js-reference-delete btn btn-link fa fa-trash" data-id="{{ reference.id }}"></button>
                </span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin_article_form.js') }}" type="module"></script>

{% endblock %}


{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css" integrity="sha512-3g+prZHHfmnvE1HBLwUnVuunaPOob7dpksI7/v6UnF/rnKGwHf/GdEq9K7iEN7qTtW+S0iivTcGpeTBqqB04wA==" crossorigin="anonymous" />

{% endblock %}